.sectionac {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Estilos para el contenedor del formulario */
.form-wrapper {
    width: 100%;
    max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #d0d0d0; /* Línea gris alrededor del formulario */
    background-color: #ffffff; /* Fondo blanco para el formulario */
    position: relative;
}

/* Estilo para el título */
.form-title {
    color: #003f5c; /* Color del texto del título */
    font-weight: bold;
    margin-bottom: 20px; /* Margen inferior para separar el título del formulario */
    text-align: center; /* Centra el texto del título */
}

.container{
    margin-top: 500px;
}