/* DISEÑO DE HEAD*/


.body {
    display: flex;
    font-family: 'Roboto', sans-serif;
   
}

h2 {

    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;



}


.logo-container {
    width: 100%; 
    text-align: center; 
}
.logo-section {
    width: 20px; 
    height: 20px; 
    text-align: center; 
    background-color: #1a1919; 
    border-radius: 10px; 
}

.logo img {
    padding: 3%;
    width: 250px; 
    height: auto;
    margin-right: 20px
}

.section1{

    padding: 3%;
    color: white;
    text-align: right;
    font-weight: bold;
    background-color: #2c3152;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 280px;
    font-family: 'Roboto', sans-serif;
}   
.navbar a{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
    padding: 5px;
    line-height: 1;
    color: #fff;
    font-size: 14px;
    margin-top: 0
}

.navbar i {
    font-size: 20px;
    margin-right: 5px;
    color:#f8f4f4
}


/*DISEÑO PANEL INZQUIERDO*/

.section2 {

    display: flex;
    width: 248px; 
    height: 900px;
    color: white;
    background-color: #2c3152; 
    border-radius: 10px; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

  
    font-size: 26px;
    margin-top: 0;
    
}

/* DISEÑO DE GRÁFICAS*/

  .section3 {

    width: 300px;
    height: 200px;
    margin-top: -350px;
    margin-left: 300px;
    margin-right: auto;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 10px;


  }

.section4 {

    width: 300px;
    height: 200px;
    margin-top: -190px;
    margin-left: 650px;
    margin-right: auto;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
  }

  .section5 {
    
    width: 50px;
    height: 50px;
    margin: 0px;
    position: relative;
    margin-top: -155px;
    margin-left: 460px;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
}

.section6 {
    width: 150px;
    height: 150px;
    margin-top: -650px;
    margin-left: 900px; 
    margin-right: auto; 
    position: relative; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.section7 {
    font-size: 15px;
    width: 300px;
    height: 200px;
    margin-top: -200px;
    margin-left: 1000px;
    margin-right: auto;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.chart-container1 {
    width: 300px; 
    height: 300px; 
}

.chart-container2 {
    width: 300px; 
    height: 300px; 
}

#forma{
    margin-top: 20px;
   margin-left:35px; 
}

#formc{
    margin-top: 20px;
    margin-left:20px; 
 }

/* Estilos para los iconos y botones de registro de formularios */

.nav-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
    padding: 15px; 
    background-color: #ffffff; 
    border: 2px solid #cccccc; 
    border-radius: 8px; 
    width: 200px; 
}

.nav-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-top: -280px;
    text-align: center;
    padding: 15px; 
    background-color: #ffffff;
    border: 2px solid #cccccc; 
    border-radius: 8px; 
    width: 200px; 
}
.icon-large {
    font-size: 2rem; /* Tamaño del ícono ajustado */
    margin-bottom: 10px; /* Espacio entre el ícono y el texto */
    color: #007bff; /* Color del ícono */
}

.nav-text {
    font-size: 0.9rem; /* Tamaño del texto reducido */
    color: #333333; /* Color del texto */
    text-decoration: none; /* Quitar subrayado */
}



.table {
   
    width: 100%; 
    margin: 0 auto; 
    margin-top: 80px;
}

.container{
    width: 200%; 
    margin: 0 auto; 
    margin-top: 80px;
    
}

/*Iniciar sesión*/

/* Estilo para el contenedor del panel de control */

  /* Estilo para el botón desplegable */
  .btn.dropdown-toggle {
    
    color: black; 
    border: none;
    border-radius: 5px; 
    padding: 15px 20px; 
    font-size: 15px;
    font-family: 'Roboto', sans-serif; 
    
  }

  .dropdown-menu{
    font-size: 15px;
    font-family: 'Roboto', sans-serif; 

  }
  
